$color-white: #ffffff;
$color-white-gray: #fafafa;
$color-black: #222222;
$color-gray-1: #ebebeb;
$color-gray-2: #d1d1d1;
$color-gray-3: #999999;
$color-gray-4: #7d7d7d;
$color-gray-5: #5c5c5c;
$color-gray-6: #474747;

$color-coral: #e14165;
$color-orange: #ff8346;
$color-green-1: #1bda9d;
$color-green-2: #2ee5ac;
$color-violet: #8686ff;
$color-violet-light: #c2c2ff;
